<html>
        <fieldset>
            <h1>welcome to admin <%=name %></h1>
            <div>
                <button><a href="new-job-posts"> New Job Posts</a></button>
            </div>
            <div>
                <button><a href="/register">Register a New User</a></button>
            </div>
            <div>
                <button><a href="/logout">Log out</a></button>
            </div>
        </fieldset>
    </body>
</html>