<html>
<h1>welcome to admin ya <%=name %></h1>
<div>
    <a href="new-job-posts"> new job posts</a>
</div>
<div>
    <a href="/register">register a new user </a>
</div>
<div>
    <a href="/logout">log out </a>
</div>
    
</html>