<!DOCTYPE html>
<html>
    <head>
        <title>Jobs Messaging Board's Website</title>
        <meta charset="UFT 8">
        <link rel="stylesheet" href="Jobs.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato-light.ttf">
        <link rel="stylesheet" href="Jobs style.css">
    </head>
    <body>
        <div class="A">
            <fieldset>
                <h1>Jobs Messaging Board</h1>
            </fieldset>
        </div>
            <br>
        <div class="B">
            <form action="http://192.168.1.4:3000/jobs" method="post">
            <fieldset>
                <h3>Position</h3>
                <input type="text" name="position" placeholder="Enter your Position" class="w3-round-large">
                <br>
                <br>
                <h3>Responsibility</h3>
                <textarea rows="6" cols="45" name="responsibility" class="w3-round-large" placeholder="Enter your Responsibility"></textarea>
                <br>
                <br>
                <h3>Requirements</h3>
                <textarea rows="6" cols="45" name="requirements" class="w3-round-large" placeholder="Enter your Requirements"></textarea>
            </fieldset>
        </div>
            <br>
        <div class="C">
            <fieldset>
                <h3>Company Name</h3>
                <input type="text" name="companyname" class="w3-round-large" placeholder="Enter company name">
                <br>
                <br>
                <h3>Email</h3>
                <input type="email" name="email" class="w3-round-large" placeholder="Enter your Email">
                <br>
                <br>
                <h3>Website</h3>
                <input type="text" name="website" class="w3-round-large"placeholder="Enter Website">
                <br>
                <br>
                <h3>About Company</h3>
                <textarea rows="6" cols="45" name="aboutcompany" class="w3-round-large" placeholder="Enter Information about your Company"></textarea>
                <br>
                <br>
                <input type="submit" value="Post Job" class="w3-round-large">
            </fieldset>
        </div>
            <br>
            </form>
        <div class="D">
            <footer>
                <fieldset>
                    <h2>Contact us on</h2>
                    <a href="mailto:jobs.messaging.board@gmail.com">
                        <img src="email.png" width="55" height="43">
                    </a>Jobs Messaging Board's Email
                    <br>    
                    <a href="https://www.facebook.com/Jobs-messaging-board-110233920644285/">
                        <img src="face book.jpg" width="50" height="45">
                    </a>Jobs Messaging Board's Facebook Page
                    <br>
                    <a href="https://www.twitter.com/JobsMessaging">
                        <img src="twitter.png" width="50" height="50">
                    </a>Jobs Messaging Board's Twitter
                    <br>
                    <a href="https://www.linkedin.com/in/jobs-messaging-board-8a404b1a7/">
                        <img src="linkedin.jpg" width="50" height="50">
                    </a>Jobs Messaging Board's linkedin
                </fieldset>
            </footer>
        </div>
    </body>
</html>






