<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="Jobs List.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato-light.ttf">
    <meta charset="UTF 8">
    <title>Jobs Messaging Board's Jobs Page</title>
</head>
<body>
    <fieldset>
        <h1>Jobs Messaging Board</h1>
    </fieldset>
    <ul>
        <li><img src="face book.jpg" width="57" height="60"><br>Company name:Jobs Messaging Board<br>Position:<br>Responsibility:<br>Requirements:<br><button><a href=""></a>Apply</button></li>
        <li><img src="face book.jpg" width="57" height="60"><br>Company name:Jobs Messaging Board<br>Position:<br>Responsibility:<br>Requirements:<br><button><a href=""></a>Apply</button></li>
        <li><img src="face book.jpg" width="57" height="60"><br>Company name:Jobs Messaging Board<br>Position:<br>Responsibility:<br>Requirements:<br><button><a href=""></a>Apply</button></li>
        <li><img src="face book.jpg" width="57" height="60"><br>Company name:Jobs Messaging Board<br>Position:<br>Responsibility:<br>Requirements:<br><button><a href=""></a>Apply</button></li>
        <li><img src="face book.jpg" width="57" height="60"><br>Company name:Jobs Messaging Board<br>Position:<br>Responsibility:<br>Requirements:<br><button><a href=""></a>Apply</button></li>
        <li><img src="face book.jpg" width="57" height="60"><br>Company name:Jobs Messaging Board<br>Position:<br>Responsibility:<br>Requirements:<br><button><a href=""></a>Apply</button></li>
        <li><img src="face book.jpg" width="57" height="60"><br>Company name:Jobs Messaging Board<br>Position:<br>Responsibility:<br>Requirements:<br><button><a href=""></a>Apply</button></li>
        <li><img src="face book.jpg" width="57" height="60"><br>Company name:Jobs Messaging Board<br>Position:<br>Responsibility:<br>Requirements:<br><button><a href=""></a>Apply</button></li>
        <li><img src="face book.jpg" width="57" height="60"><br>Company name:Jobs Messaging Board<br>Position:<br>Responsibility:<br>Requirements:<br><button><a href=""></a>Apply</button></li>
        <li><img src="face book.jpg" width="57" height="60"><br>Company name:Jobs Messaging Board<br>Position:<br>Responsibility:<br>Requirements:<br><button><a href=""></a>Apply</button></li>
        
    </ul> 
</body>
</html>