@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
body {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  max-width: 90%;
  margin: 0em   auto;
  background: rgba(184, 180, 180, 0.425);
}