body
{
    font-family: "Lato";font-size: 22px;
    background: lightgray;
}
fieldset
{
    margin-bottom: 10px;
    min-width: 0px;
}
.A
{   
    background: #173F5F;
    color: white;
    text-align: left;
}
.B
{
    background-color: #20639B;
}

.G
{
    background-color: #3CAEA3;  
}
.L
{
    background-color: #173F5F ;
    color: white;
}
input
{
    width: 600px;
    height: 40px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}
.C
{
    margin-bottom: 0px;
    border-radius: 8px;
}
.E
{
    margin-bottom: 0px;
    border-radius: 8px;
    border: 2px;
    border-color: darkgrey ;
    box-shadow: 0 0 8px 0 darkgrey;
    width: 450px;
    font-size: large;
}
.F
{
    margin-bottom: 0px;
    border-radius: 8px;
    border: 2px;
    border-color: darkgrey ;
    box-shadow: 0 0 8px 0 darkgrey;
    width: 450px;
    font-size: large;
}
.H
{
    margin-bottom: 0px;
    border-radius: 8px;
}
.I
{
    margin-bottom: 0px;
    border-radius: 8px;
}
.J
{
    margin-bottom: 0px;
    border-radius: 8px;
}
.K
{
    margin-bottom: 0px;
    border-radius: 8px;
    width: 450px;
    font-size: large;
    border: 2px solid darkgray;
}
.M
{
    margin-bottom: 0px;
    border-radius: 8px;
}
input
{
    color: #000;
    margin-bottom: 19px;
    margin-top: 3px;
}
.w3-round-large{border-radius: 8px}
input 
{
    color: #000;
    font-size: large
}    
.w3-round-large{border-radius: 8px;}
img
{
    border-radius: 35px;
}
.A
{
    margin-bottom: 10px;
    min-width: 0px;
    border-radius: 50px 50px 0px 0px;
}
fieldset
{
    margin-bottom: 10px;
    min-width: 0px;
}
.D
{
    border-radius: 0px 0px 50px 50px;
}
.p
{
    margin-top: 0px;
}
h3
{
    margin-top: 3px;
}
.wowo
{
    margin-bottom: 8px;
    margin-top:2px;
}
.yy
{
    margin-top: 0px;
}