body
{
    font-family: "Lato";font-size: 22px;
}
.A
{   
    background: #173F5F;
    color: white;
    text-align: left;
}
.B
{
    background-color: #20639B;
}

.C
{
    background-color: #3CAEA3;  
}
.D
{
    background-color: #173F5F ;
    color: white;
}
input
{
    width: 600px;
    height: 40px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}
input:focus
{
    border-color:darkgrey;
    box-shadow: 0 0 8px 0 darkgray
}
input
{
    color: #000;
}
.w3-round-large{border-radius:8px}
textarea
{
    border: 2px;
    border-color: darkgrey ;
    box-shadow: 0 0 8px 0 darkgrey;
    width: 450px;
    font-size: large;
}
.w3-round-large{border-radius: 8px}
input 
{
    color: #000;
    font-size: large
}    
.w3-round-large{border-radius: 8px;}