
body
{
    font-family: "Lato";font-size: 22px ;
    background: lightgray;
}
/* === Carousel === */
.carousel-inner img {
    
    width: 100%;
  }
  .carousel-inner h1{
      font-weight: 500;
      color: lightslategray;
      letter-spacing: 0.1em;
  }
  .carousel-inner h3{
    color: whitesmoke;


/* Main posts */

* {
    box-sizing: border-box;
  }
  .accordion {
    background: rgba(115, 137, 145, 0.651);
    color: #ffffffbb;
    cursor: pointer;
    padding: 0.25em 0.25em;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1.3em;
    transition: 0.3s;
    margin: 0;
  }
  .accordion:hover {
    background: rgb(110, 151, 165);
  }
  ul.postHead{
      list-style: none;
      padding-left: 0.5em;
  }
  /* Additional info */
  .panel {
    padding: 0 0.5em;
    display: none;
    overflow: hidden;
    background: #eeeeee;
    
  }
  .panel p {
    font-size: 1.1em;
    padding: 1em;
  }

/* === Footer === */

footer .logoresize {
    height: auto;
    width: auto;
    max-height: 20px;
    padding-right: 0.4rem;
    position: relative;
    bottom: 2px;
}

footer p {
    text-align: left; 
}

li
{
    border: solid 5px gold;
    border-radius: 0px;
    font-size: 25px;
    padding: 22px 33px 22px 33px;
    margin-bottom: 7px;
    margin-right: 40px;
    color: black;
    margin-left: 0px;
    list-style-type: none;
}
img
{
    border: 3px;
    border-radius: 8px;
    margin-bottom: 6px;
}
button
{
    border-radius: 9px;
    font-size: 22px;
    margin-top: 5px;
    background-color: lightslategrey;
}

/* footer p {
     text-align: left; 
} */
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
