<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF 8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin post page</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/new-job-posts ejs.css">




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/navLink.js"></script>
    <script src="js/footerLink.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light sticky-top" id="navBar">

    </nav>

    <div class="wrapper">
        <div class="sidebar">
            <h2>Links</h2>
            <ul>
                <li><a href="new-job-posts" class="links">New Job Posts</a></li>
                <li><a href="/register" class="links">Register a New User</a></li>
                <li><a href="/logout" class="links">Log out</a></li>
            </ul>
        </div>
        <div class="main-cont net">
            <div class="header"></div>
            <div class="info"></div>
            <fieldset class="Logo">
                <h1>Jobs Messaging Board</h1>
            </fieldset>
            <fieldset class="BBB">


                <!-- <% for(var i = 0; i < jobs.length; i++) {%> -->

                <fieldset class="AAA">
                    <form action="<%= `/jobs/${jobs[i]._id}/approve` %>" method="POST">
                        <img src="images/Says.jpg" width="125">
                        <br>
                        <h4>Company name: name </h4>
                        <h4>Position: Position </h4>
                        <h4>Responsibility: Responsibility</h4>>
                        <h4>Requirements: Requirements</h4>
                        <input type="submit" name="approve" value="Approve" />
                    </form>

                </fieldset>


                <!--<span><%= jobs[i].quote %></span>-->
<!-- <% } %> -->

            </fieldset>
</body>
<footer id="footer"></footer>

</html>